* {
	margin: 0;
	padding: 0;
}
html, body {
    height: 100%;
    background-color: #E6E2DD;
    font-size: 30px;
    width: 100%;
    overflow-y: auto;
}
.lk{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trip_list{
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    width: inherit;
    padding-left: 2em;
}
#form_lk{
    display: flex;
    justify-content: center;
    width: 100%;
}
.trip{
    display: inline-flex;
    /*justify-content: space-between;*/
}
.btn_del{
    margin: 1.24em 0;
    border-radius: 0 2.5em 2.5em 0;
    border: black 2px solid;
    border-left: 0;
    background-color: #D48166;;
}
.description_trip{
    display: flex;
    width: 80%;
    flex-direction: column;
    border: black 2px solid;
    border-right: 0;
    border-radius: 1em 0 0 1em;
    margin: 0.5em 0;
    padding: 1em;
    box-shadow: 0.3em 0.2em 0.2em #8f8f8f;
    font-size: 1.1em;
    background-color: #D48166;
}
.description_trip > p{
    margin: 0.2em 0;
    color: #343939;
}
.first_row{
    display: flex;
    justify-content: space-between;
}
.first_row > button {
    background-color: #D48166;
    border: none;
}
.title{
    width: 100%;
    text-align: center;
    padding: 1em 0;
    font-size: 1.4em;
    font-weight: bolder;
}
.btn_lk{
    width: 60%;
    margin: 2em 0;
    padding: 1em;
    font-size: 1.2em;
    background-color: #373A36;
    border-radius: 0.5em;
    color: white;
}
.load{
    display: none;
}
.footer_lk{
    width: 100%;
    text-align: center;
    margin-top: 9em;
}
.footer_lk>p{
    font-size: 1.7em;
}
.show{
    display: block;
    animation: list_ani_show 3s forwards;
}
.hide{
    display: none;
    animation: list_ani_hide 500ms forwards;
}
@keyframes list_ani_show {
    from{opacity: 0;}
    to{ opacity: 1;}
}
@keyframes list_ani_hide {
    from{opacity: 1;}
    to{display: none;opacity: 0;}
}
.text{
    padding: 0 1em;
}
.materials{
    display: flex;
}
.materials>img{
    align-self: flex-end;
    margin-right: 2em;
}
.materials>span{
    margin: auto;
}
.text{
    text-indent: 3em;
    padding: 0.5em 1em;
    text-align: justify;
    line-height: 2em;
}
@media (max-width: 768px) {
    
}
@media (max-width: 1920px) {
  .lk {
        width: 900px;
      flex-wrap: wrap;
      position: absolute;
      left: 25%;
  }
}