<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
{% if alert == 'true' %}
<script>alert('Вы ввели некорректное название населенного пункта. Пожалуйста, вводите название населенного пункта и выберите его из предложенного списка.')</script>
{% endif %}
<div class="wrapper" id="main_page">
    <div class="content" id="content">
        <div class="settings_trip">

            <input id="location" placeholder="Куда поедем?" class="settings top" name="location" form="base_settings" required>
            <div id="suggestions" class="autocomplete-suggestions"></div>
            <script>
                $(document).ready(function() {
                    $('#location').keyup(function() {
                        var query = $(this).val();
                        $('#suggestions').empty();  // Очищаем предыдущие подсказки
                        if (query.length > 0) {
                            $.ajax({
                                url: '/search',
                                data: { q: query },
                                success: function(results) {
                                    if (results.length > 0) {
                                        $.each(results, function(index, result) {
                                            $('#suggestions').append(`
                                                <div class="autocomplete-suggestion" data="${result}">${result}</div>
                                            `);
                                        });
                                        $('#suggestions').show();// Покажем подсказки
                                    } else {
                                        $('#suggestions').hide();  // Скрываем подсказки, если нет результатов
                                    }
                                }
                            });
                        } else {
                            $('#suggestions').hide();  // Скрываем подсказки, если поле пустое
                        }
                    });
                    // Обработка кликов по подсказкам
                    $(document).on('click', '.autocomplete-suggestion', function() {
                        $('#location').val($(this).attr('data'));  // Заполняем поле ввода
                        $('#suggestions').hide();  // Скрываем подсказки
                    });
                    // Скрытие подсказок при потере фокуса
                    {#$('#location').blur(function() {#}
                    {#    $('#suggestions').hide();#}
                    {#    hide_suggestions();#}
                });
            </script>
            {% if data['trip_name']|length %}
            <input id="trip_name" placeholder="Название поездки (необязательно)" class="settings top" name="trip_name" form="base_settings" value="{{ data['trip_name'] }}">
            {% else %}
            <input id="trip_name" placeholder="Название поездки (необязательно)" class="settings top" name="trip_name" form="base_settings">
            {% endif %}
            <div class="calendar">
                <div class="calendar-header">
                    <button id="prevBtn">←</button>
                    <h2 id="monthYear"></h2>
                    <button id="nextBtn">→</button>
                </div>
                <div class="calendar-days"></div>
            </div>
            <div style="display: none"><p id="range"></p></div>
            <span data-for-script="{{ data['dates'] }}" id="dates_for_script" style="display: none"></span>
            <script src="{{ url_for('static', filename='/js/calendar_new.js') }}"></script>
            <div class="inline_settings">
            <button class="type_trip">Деловая<input type="checkbox" id='business' class="check_type" checked="false" name="business"></button>
            <button class="type_trip">Туристическая<input type="checkbox" id='vacation' class="check_type" checked="false" name="vacation"></button>
            </div>
{#            <script type="text/javascript" src="/static/js/base_settings.js"></script>#}
            {% if data['business'] == 'true' %}
{#                <script>document.querySelector('#business').setAttribute('checked', 'true')</script>#}
                <script>
                    document.querySelector('#business').classList.toggle('checked', 'true');
                    document.querySelector('#business').setAttribute('checked', 'true');
                </script>
            {% endif %}
            {% if data['vacation'] == 'true' %}
                <script>
                    document.querySelector('#vacation').classList.toggle('checked', 'true');
                    document.querySelector('#vacation').setAttribute('checked', 'true');
                </script>
            {% endif %}
        </div>
    </div>
    <button id="new_trip">Далее</button>
    <form action="/settings" method="post" id="base_settings" style="display: none">
        <input form="base_settings" name="dates" id="submit_dates">
        <input form="base_settings" name="business" id="submit_business">
        <input form="base_settings" name="vacation" id="submit_vacation">
        <input type="submit" id="submit">
    </form>
</div>
<script type="text/javascript" src="/static/js/base_settings.js"></script>
</body>
</html>