<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lk.css')}}">
</head>
<body>
<div class="lk">
    {% if number_trips > 0 %}
        <p class="title">Сохраненные поездки</p>
        <div class="trip_list">
            {% for item in trips %}
                <div class="trip">
                    <div class="description_trip">
                        <div class="first_row">
                        {% if item[0]['base_params']['trip_name'] == ''  %}
                        <p class="trip_name" name="name_trip">Название у поездки отсутствует</p>
                        {% else %}
                        <p class="trip_name" name="name_trip">Название: {{ item[0]['base_params']['trip_name']  }}</p>
                        {% endif %}
                        </div>
                        <p class="location">Место назначения: {{ item[0]['base_params']['location']  }}</p>
                        <p class="date">Период поездки: {{ item[0]['base_params']['dates'][0] }} - {{ item[0]['base_params']['dates'][1] }}</p>
                        <span style="display: none" id="uuid">{{ item[1] }}</span>
                    </div>
                    <button class="btn_del" onclick="delete_trip(this)"><img src="/static/css/delete_icon.png"></button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="footer_lk">
            <p>Нет запланированных поездок</p>
    {% endif %}
            <p class="title materials"><span>Полезные материалы</span><img src="/static/css/arrow_down.png"></p>
            <div class="useful_materials hide">
                <p class="capsule title materials article"><span>Капсульный гардероб: ваш стильный спутник в путешествии</span><img src="/static/css/arrow_down.png"></p>
                <div class="capsule text hide">
                    <p>
                        Капсула – это продуманный набор вещей, который позволяет создавать множество стильных образов, используя ограниченное количество предметов.  Для летнего отдыха идеальным считается набор от 10 до 15 единиц одежды (без белья и носков)
                    </p>
                    <p>
                        <b>Секрет идеального капсульного гардероба:</b>
                    </p>
                    <p>
                        <b>* Нейтральные цвета:</b>  Черный, бежевый, белый, молочно-белый, коричневый, терракотовый, серый, синий и голубой – базовая палитра, которая легко сочетается между собой.
                    </p>
                    <p>
                        <b>* Яркие акценты:</b>  Добавьте цвета в ваш образ: бордовый, тминный, сине-зеленый, фруктовые оттенки, лазурный, лимонный, ярко-розовый, зеленый.
                    </p>
                    <p>
                        <b>* Натуральные ткани:</b>  Хлопок, лен, шелк, ситец и сатин – идеальный выбор для летней жары, позволяющий коже дышать и снижая потоотделение.
                    </p>
                    <p>
                        <b>* Качество над количеством:</b>  Не бойтесь синтетики, но выбирайте качественные материалы,  устойчивые к износу и складкам. Например, полиэстер, лайкра, нейлон или акрил отлично защищают от солнца.
                    </p>
                    <p>
                        <b>Упаковываем чемодан:</b>
                    </p>
                    <p>
                        <b>* Обувь – главный герой:</b>  Удобные ботинки, кроссовки, сандалии, а также нарядные босоножки – ваш выбор для комфорта и стиля. Биркенштоки – универсальная обувь, сочетающаяся с множеством вещей.
                    </p>
                    <p>
                        <b>* Верхняя одежда:</b>  Футболки, майки, рубашки из натуральных тканей,  толстовка, кардиган, тонкая непромокаемая куртка –  основа вашего летнего гардероба.
                    </p>
                    <p>
                        <b>* Низ:</b>  Шорты, хлопковые или льняные брюки, которые можно носить мятыми.
                    </p>
                    <p>
                        <b>* Техника скатывания:</b>  Сворачивайте одежду рулонами для экономии места и удобства.
                    </p>
                    <p>
                        <b>* Правильная последовательность:</b>  Упаковывайте тяжелые вещи (обувь, книги, косметику) внизу чемодана, сверху – легкую одежду.
                    </p>
                    <p>
                        <b>* Правильная последовательность:</b>  Упаковывайте тяжелые вещи (обувь, книги, косметику) внизу чемодана, сверху – легкую одежду.
                    </p>
                    <p>
                        <b>* Хитрые приемы:</b>  Убирайте носки в обувь, а ремни – по периметру чемодана.
                    </p>
                    <p>
                        <b>Дополнительные советы:</b>
                    </p>
                    <p>
                        <b>* Шляпа:</b>  Сложите шляпу, чтобы сохранить ее форму, и зафиксируйте ее одеждой сверху.
                    </p>
                    <p>
                        <b>* Рюкзак:</b>  Складывайте вещи стопкой, а затем сверните их в один большой рулон.
                    </p>
                    <p>
                        Следуя этим рекомендациям, вы создадите идеальный капсульный гардероб для летнего отдыха, который позволит вам чувствовать себя комфортно и стильно в любой ситуации.
                    </p>
                </div>
                <p class="dress-code title materials article"><span>Некоторые заметки о дресс-коде в Китае</span><img src="/static/css/arrow_down.png"></p>
                <div class="dress-code-china text hide">
                    <p>
                        В Китае, несмотря на общую открытость к различным стилям одежды, есть некоторые нюансы, которые стоит учитывать, особенно если вы хотите выглядеть уместно в глазах местных жителей. Поэтому китайский дресс-код отличается особым вниманием к деталям и традициям.
        В отличие от американского, где допустимы неформальные сочетания (пиджак с майкой, джинсы с рубашкой и галстуком), в Китае важно придерживаться более консервативного стиля.
                    </p>
                    <p>
                        <b>Основные правила:</b>
                    </p>
                    <p>
                        <b>Избегайте ярких цветов и принтов.</b> Не стоит надевать пестрые гавайские рубашки или одежду с броской китайской символикой;
                    </p>
                    <p>
                        <b>Предпочитайте классические силуэты.</b> Брючный костюм, пиджачная пара, блузка и юбка приглушенных оттенков – идеальный выбор для женщин.
                        Мужчинам стоит обратить внимание на белую или светлую рубашку с коротким рукавом (с галстуком или без), брюки серого, коричневого или темно-синего цвета;
                    </p>
                    <p>
                        <b>Будьте умеренны с аксессуарами.</b> Обилие украшений может восприниматься как неуместно. Достаточно одного браслета или пары колец;
                    </p>
                    <p>
                        <b>Избегайте китайского стиля.</b>Попытка одеться в китайском стиле, как правило, воспринимается как нелепая и неискренняя.
                    </p>
                    <p>
                        <b>Важные моменты:</b>
                    </p>
                    <p>
                        <b>Статус и имидж.</b> В Китае одежда играет важную роль в формировании образа и статуса. Небрежный или слишком неформальный стиль может отрицательно повлиять на восприятие вас китайскими партнерами.
                    </p>
                    <p>
                        <b>Костюмы – стандарт.</b> Костюм – это практически национальная одежда в Китае. Встречая вас в костюме, китайцы будут чувствовать себя комфортно и уверены в вашем серьезном отношении к делу.
                    </p>
                    <p>
                        <b>Традиционная одежда.</b>Ношение традиционной китайской одежды, например, ханьфу, уместно только на праздничных мероприятиях.
                        Помните: одеться в Китае так, как от вас ожидают, значительно упростит общение и поможет избежать неловких моментов.
                    </p>
                    <p>
                        <b>Немного информации для представительниц прекрасного пола:</b>
                    </p>
                    <p>
                        В Китае, несмотря на общую открытость к различным стилям одежды, есть некоторые нюансы, которые стоит учитывать, особенно если вы хотите выглядеть уместно в глазах местных жителей.
                    </p>
                    <p>
                        Например, короткие шорты, даже очень короткие, здесь в моде, их носят все, от юных девушек до дам за пятьдесят. В последние годы появился тренд на длинные футболки, которые полностью закрывают шорты, создавая эффект "пропавших штанов".
                    </p>
                    <p>
                        Что касается ног, то они в Китае, как и в Японии и Корее, считаются допустимой частью тела для демонстрации.
                        Однако, есть одно "но" – черные колготки здесь считаются вульгарными и не соответствуют общепринятым представлениям о женской элегантности.
                        Китаянки предпочитают телесные колготки, которые светлее их кожи, так как в китайской культуре ценят белую кожу.
                    </p>
                    <p>
                        Что касается декольте и плеч, то в Китае они считаются более интимными зонами, чем ноги.
                        Открытые плечи, даже в летнюю жару, могут быть восприняты как слишком откровенные, поэтому многие китаянки предпочитают носить одежду с закрытыми плечами, даже если это просто рубашка поверх платья на бретелях.
                    </p>
                    <p>
                        Купальники - отдельная тема. В Китае не так распространена культура купания, как в других странах.
                        Многие китайцы не умеют плавать, а те, кто умеет, часто избегают загара. На горячих источниках купальники, безусловно, носят, но и здесь есть свои традиции.
                        Вместо бикини, которое ещё недавно было чем-то экзотическим, китаянки предпочитают купальные костюмы с юбкой или слитные купальники.
                        Многие дополнительно используют туники или накидки, чтобы скрыть большую часть тела.
                    </p>
                    <p>
                        <b>В Китае отношение к цветам не просто эстетическое, а глубоко философское.</b> Каждый оттенок пропитан скрытым смыслом, который может как привлечь удачу, так и принести несчастье. Давайте разберемся в нюансах:
                    </p>
                    <p>
                        <b>Красный</b> - этот цвет, ассоциирующийся с огнем, символизирует жизнь, энергию и процветание. Красный - традиционный цвет для праздников и торжеств, но не стоит перебарщивать: красные чернила в письме могут означать разрыв отношений.
                    </p>
                    <p>
                        <b>Желтый цвет</b> - цвет императора, олицетворяет власть и величие. Однако в современном Китае желтый также ассоциируется с "желтой прессой", то есть с порнографией.
                    </p>
                    <p>
                        <b>Золотой цвет</b> символизирует богатство, роскошь и статус. В 80-90-х годах в Китае наблюдалась "золотая лихорадка", когда люди подчеркивали свое благосостояние золотыми украшениями.
                    </p>
                    <p>
                        В китайской мистике <b>фиолетовый цвет</b> символизирует бессмертие. В современном Китае он ассоциируется с романтикой и благородством.
                    </p>
                    <p>
                        <b>Зеленый цвет</b> в Китае символизирует молодость и надежду. Однако, выражение "наставить рога" связано с зеленым цветом, поэтому он может быть символом измены.
                    </p>
                    <p>
                        <b>Белый цвет</b> - цвет траура, поэтому его не рекомендуется носить на праздники. Белый конверт с деньгами используется на похоронах.
                    </p>
                    <p>
                        <b>Черный цвет</b> в Китае символизирует зло и смерть. Не рекомендуется использовать черные рамки для картин или фотографий, так как это может быть воспринято как знак смерти.
                    </p>
                    <p>
                        <b>Радуга.</b> В традиционной китайской культуре радуга считалась предвестником смерти императора, поэтому ее редко используют в искусстве и дизайне.
                    </p>
                    <p>
                        В Китае нет четкого разделения между синим и голубым. <b>Цвет цин - это смесь синего и зеленого.</b> Он считается традиционным и часто используется в искусстве и быту. Понимание цветовой символики поможет вам избежать неловких ситуаций и лучше понять китайскую культуру.
                    </p>
                </div>
            </div>
{#            <script>#}
{#                function toggle_list_items(event) {#}
{#                    let elem = event.currentTarget.nextElementSibling;#}
{#                    if (elem.classList.contains('show') == true) {#}
{#                        elem.classList.toggle('show', false);#}
{#                        elem.classList.toggle('hide', true);#}
{#                    } else if (elem.classList.contains('hide') == true) {#}
{#                        elem.classList.toggle('show', true);#}
{#                        elem.classList.toggle('hide', false);#}
{#                    } else if (elem.classList.contains('show') == false) {#}
{#                        elem.classList.toggle('show', true);#}
{#                    }#}
{#                }#}
{#            </script>#}
{#            <script>#}
{#                    document.querySelectorAll('p.materials').forEach((p) =>{#}
{#                        p.addEventListener('click', (event) => toggle_list_items(event))#}
{#                    });#}
{#            </script>#}
            <form action="/new_trip" id="form_lk" method="post">
                <button class="btn_lk" type="submit">Создать поездку</button>
            </form>
            <form action="/load_trip" id="load_trip" method="post">
                <input type="text" class="data" name="params_trip" style="display: none">
                <button class="load" type="submit">Создать поездку</button>
            </form>
        </div>
<script src="/static/js/lk.js"></script>
{#    <script>#}
{#        document.querySelectorAll('.description_trip').forEach((trip) => {#}
{#            trip.addEventListener('click', (event) => {#}
{#                let t = event.currentTarget#}
{#                text = `{"uuid":"${t.querySelector('#uuid').textContent}"}`#}
{#                document.querySelector('.data').value = text#}
{#                document.querySelector('.load').click()#}
{#            } )#}
{#        })#}
{#    </script>#}
{#<script>#}
{#    function delete_trip(elem){#}
{#        let trip = elem.parentElement#}
{#        trip.style.cssText = 'display:None;';#}
{#                        fetch('/delete_trip', {#}
{#                method: 'POST', // Метод запроса#}
{#                headers: {#}
{#                    'Content-Type': 'application/json' // Тип контента#}
{#                },#}
{#                body: {id_trip: trip.querySelector('#uuid').textContent}#}
{#                body: JSON.stringify({id_trip: trip.querySelector('#uuid').textContent}) // Преобразуем объект в строку JSON#}
{#            })#}
{#                  .then(response => response.text()) // Получаем текст ответа#}
{#                  .then(html => {#}
{#                    // Вставляем полученный HTML в элемент на странице#}
{#                    document.querySelector('html').innerHTML = html;#}
{#                  })#}
{#                  .catch(error => {#}
{#                    // Обработка ошибок#}
{#                    console.error('Ошибка:', error);#}
{#                  });#}
{#    }#}
{#</script>#}






{#<script>#}
{#    document.querySelectorAll('.btn_del').forEach((btn) => {#}
{#        btn.addEventListener('click', (event) => {#}
{#            let trip = event.currentTarget.parentElement#}
{#            trip.style.cssText = 'display:None;';#}
            {#console.log(trip)#}
            {#console.log(trip.querySelector('#uuid').textContent)#}
            {#console.log(JSON.stringify({id_trip: trip.querySelector('#uuid').textContent}))#}
            {#const url = '/delete_trip';#}
            {#const data = {id_trip: trip.querySelector('#uuid').textContent}; // Данные для отправки#}
            {#fetch(url, {#}
            {#  method: 'POST', // Метод запроса#}
            {#  headers: {#}
            {#    'Content-Type': 'application/json' // Тип контента#}
            {#  },#}
            {#  body: JSON.stringify(data) // Преобразуем объект в строку JSON#}
{##}
            {#.then(response => {#}
            {#  // Обработка ответа#}
            {#  if (!response.ok) {#}
            {#    throw new Error(`Ошибка: ${response.status}`);#}
            {#  }#}
            {#  return response.json(); // Преобразуем ответ в JSON#}
{##}
            {#.then(data => {#}
            {#  console.log(data); // Выводим полученные данные в консоль#}
{##}
            {#.catch(error => {#}
            {#  console.error('Ошибка запроса:', error);#}
{##}
{##}
{#            fetch('/delete_trip', {#}
{#                method: 'POST', // Метод запроса#}
{#                headers: {#}
{#                    'Content-Type': 'application/json' // Тип контента#}
{#                },#}
                {#body: {id_trip: trip.querySelector('#uuid').textContent}#}
{#                body: JSON.stringify({id_trip: trip.querySelector('#uuid').textContent}) // Преобразуем объект в строку JSON#}
{#            })#}
{#                  .then(response => response.text()) // Получаем текст ответа#}
{#                  .then(html => {#}
{#                    // Вставляем полученный HTML в элемент на странице#}
{#                    document.querySelector('html').innerHTML = html;#}
{#                  })#}
{#                  .catch(error => {#}
{#                    // Обработка ошибок#}
{#                    console.error('Ошибка:', error);#}
{#                  });#}
{##}
{#        })#}
{#    })#}
{#</script>#}
</div>
</body>
</html>