

{% for category in categories['data'] %}
    <p class="title list_title {{ category['name_en'] }}">{{ category['name_ru'] }}</p>
    <div class="{{ category['name_en'] }} section" >
        {% for item in category['items'] %}
        <div class="inline_settings list_item">
            <label class="check_list_item_label"><input type="checkbox" class="check_list_item" >{{ item }}</label>
             <button class="btn_list_item"></button>
            <div class="btns_count">
                <button class="btn+ count"  name="plus" onclick="count_items(this.parentElement.parentElement, '+')">+</button>
                <span name="number" class="number count" >1</span>
                <button name="minus" class="btn- count" onclick="count_items(this.parentElement.parentElement, '-')">-</button>
            </div>
        </div>
        {% endfor %}
        <div class="inline_settings list_item new_item">
            <img src="{{ url_for('static', filename='css/plus.png') }}" alt="+">
            <input type="text" class="text_new_item"  onchange="create_item(this.parentElement, this.value)" placeholder="Новый элемент">
        </div>
    </div>
{% endfor %}




hotel:['Проверить 🠗цен на сущ. бронирование отеля', 'Бронирование
rental:['Снять квартиру|дом|комнату']
family_fr:['Позвонить родственникам', 'Подарок']
second_home:['Ключи от квартиры|дома']
camping:['Фонарик', 'Налобный фонарь', 'Зажигалка|Спички', 'Подушка',
    'Пластиковые пакеты', 'Спальный мешок', 'Туристический коврик', 'Снеки',
    'Тент', 'Тарелка глубокая', 'Ложка', 'Кружка', 'Полотенце', 'Универсальный нож']
airplane:['Посадочный билет', 'Маска для сна', 'Наушники|Беруши', 'Паспорт',
    'Подушка под шею']
car:['Ключи от машины', 'Документы на машину', 'Водительской удостоверение',
    'Детское автокресло']
train:['Билет на поезд', 'Книга|Сканворды|Игры']
bus:['Таблетки, если укачивает', 'Целофановый пакет']
essentials:['Презервативы', 'Таблетки от головной боли', 'Ключи от дома',
    'Необходимые медикаменты', 'Повербанк', 'Распечатанный маршрут поездки',
    'Очки для чтения', 'Смартфон', 'Зарядка для телефона', 'Зонт', 'Витамины',
    'Кошелек', 'Часы']
toiletries:['Пластыри', 'Зубная щетка', 'Зубная паста', 'Расческа для волос',
    'Дезодорант', 'Бритва|Триммер', 'Гель для бритья', 'Контактные линзы',
    'Раствор для контактных линз', 'Косметика', 'Пинцет', 'Щипчика|Ножницы для ногтей',
    'Духи', 'Одеколон', 'Шампунь', 'Гель для душа', 'Фен', 'Средства для волос']
international:['Паспорт', 'Виза', 'Справки о привиках', 'Страховой медицинский полис',
    'Иностранная валюта', 'Адаптер питания', 'Преобразователь напряжения',
    'Индикатор напряжения', 'Ручка']
clothes:['Повседневные брюки', 'Повседневная рубашка', 'Футболка',
    'Носки', 'Нижнее белье', 'Пижама', 'Ремень', 'Свитер', 'Обувь',
    'Блузка', 'Юбка', 'Платье', 'Колготки', 'Куртка']
formal_clothes:['Пиджак', 'Рубашка', 'Брюки', 'Туфли', 'Наручные часы', 'Юбка',
    'Платье', 'Ювелирные украшения', 'Чулки']



